h1 {
  background-color: aqua !important;
}

h2 {
  color: brown;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button#Button-Click-me {
  background-color: black;
  color: cornflowerblue;
}

#Button-Nothing-happens {
  background-color: cadetblue;
  color: aliceblue;
  font-weight: 600;
  font-style: italic;
}

/* .green {
    background-color: rgb(12, 189, 106);
}

.greep {
    background-color: greenyellow;
} */

#navbar a {
  background-color: grey;
  color: blanchedalmond;
  text-decoration: none;
  font-variant-caps: revert;
  padding: 15px 40px;
  border-left: solid 1px wheat;
  font-family: system-ui;
  cursor: grab;
  line-height: 60px;
}

#navbar a:hover {
  background-color: #404040;
  text-transform: uppercase;
}

body>div {
  margin-bottom: 50vh;
}

#image-training {
  text-align: center;
}