body,
h1,
h2,
h3,
p ul {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ebebeb;
}

#wrapper {
  width: 900px;
  margin: 30px auto;
  background-color: white;
}

#header {}

#navbar {
  background-color: Orange;
}

#navbar ul {
  padding-left: 20px;
}

#navbar li{
  display: inline-block;
  line-height: 50px;
  margin-right: 30px;
  font-size: 19px;
  color: white;
}

/* #navbar a{

} */



#navbar a.active {
  text-decoration: underline;
  color: white;
}

#navbar li a:hover {
  text-decoration: underline;
  color: white;
}

#navbar a:link,
#navbar a:visited {
  color: white;
  text-decoration: none;
}

#right {
  float: right;
  width: 250px;
}

#right p {
  font-size: 13px;
  text-align: justify;
  margin-right: 20px;
}

#right h3 {
  margin-top: 22px;
  /* почему в образце margin-bottom? */
  font-size: 17px;
}

#content {
  margin-right: 250px;
  min-height: 600px;
  text-align: justify;
  padding: 20px;
}

#content h1 {
  font-size: 21px;
}

#content h2 {
  font-size: 19px;
  margin: 10px;
}

.pictures {
  width: 100%;
}

.price {
  margin-top: 10px;
  width: 100%;
}

table {
  text-align: center;
}

th, td {
  border: 1px solid black;
}

th {
  background-color: #ebebeb;
}

#footer {
  color: white;
  padding: 35px;
  text-align: center;
  font-size: 13px;
  background-color: Orange;
}